*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Tilt Neon", cursive;
}
body {
  background-position: right top;
}
nav {
  background-color: #5db9a0;
}
.img {
  width: 20%;
}
.container-fluid {
  background-color: #5db9a0;
}
.card {
  height: 60vh;
  border: none;
  display: flex;
  justify-content: space-around;
}
.barre {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5db9a0;
  height: 7vh;
}
.barre h3 {
  color: white;
  margin: 0;
  padding: 0;
}
.img-fluid {
  border: none;
  margin: 5px;
  width: 40%;
}
.imgS {
  width: 70%;
}
@media (max-width: 1020px) {
  .img-fluid {
    width: 60%;
    transition: 0.5s;
  }
}
@media (max-width: 656px) {
  .img-fluid {
    width: 80%;
    transition: 0.5s;
  }
}
.page {
  margin: 20px;
  width: 100%;
  height: 220vh;
}
.page2 {
  margin: 0;
  width: 100%;
  height: 93vh;
}
